


.pepe_q{
    position: relative;
    margin : 0 auto ;
}


.result{
    position: relative;
    top:150px;
}

.resultimg{
    height: 300px;
}


.loading_icon{
    margin-top: 100px !important;
} 
